
#go-to-store {
	position:absolute;
	bottom:10px;
	right:50%;
	display:block;

}
#go-to-store:hover {
	color:white;
	animation:bounce 2s;
	animation-iteration-count: infinite;
}
#about {
	display:block;
}
#landing {
	display:block;
	overflow-x:hidden;
}

@keyframes bounce {
	0%,10%,30%,50%,70%,90% {
		-webkit-transform: translateX(0);
		-ms-transform:     translateX(0);
		transform:         translateX(0)
	}
	20% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		-moz-transform: translateX(10px);
		transform:translateX(10px);
	}
	40% {
		-webkit-transform: translateX(5px);
		-moz-transform: translateX(5px);
		-ms-transform: translateX(5px);
		transform: translateX(5px)
	}
}
.landingSlide, .landingSlide:after {
    position: relative;
    width: 100%;
    height: 80vh;
    z-index: 0;
	list-style: none;
}
.landingSlide:after {
    content: '';
	/* background-color:black; */
	opacity:0.5;
}
.landingSlide li span {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}
.landingSlide li div {
    z-index: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 24s linear infinite 0s;
    -moz-animation: titleAnimation 24s linear infinite 0s;
    -o-animation: titleAnimation 24s linear infinite 0s;
    -ms-animation: titleAnimation 24s linear infinite 0s;
    animation: titleAnimation 24s linear infinite 0s;
}
.landingSlide li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding: 0;
    line-height: 10px;
	color: rgba(169,3,41, 0.8);
}
.landingSlide li:nth-child(1) span { 
	background-image: url(./Assets/1.jpg); 
}
.landingSlide li:nth-child(2) span {
    background-image: url(./Assets/2.jpg);
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s;
}
.landingSlide li:nth-child(3) span {
    background-image: url(./Assets/3.jpg);
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s;
}
.landingSlide li:nth-child(2) div {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s;
}
.landingSlide li:nth-child(3) div {
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	15%{
	    opacity: .25;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	25% {
	    opacity: .5;
	}
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	15%{
	    opacity: .25;
	    -moz-animation-timing-function: ease-out;
	}
	25% {
	    opacity: .5;
	}
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	15%{
	    opacity: .25;
	    -o-animation-timing-function: ease-out;
	}
	25% {
	    opacity: .5;
	}
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	15%{
	    opacity: .25;
	    -ms-animation-timing-function: ease-out;
	}
	25% {
	    opacity: .5;
	}
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	15%{
	    opacity: .25;
	    animation-timing-function: ease-out;
	}
	25% {
	    opacity: .5;
	}
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	}
	15% {
	    opacity: .25;
	}
	25% {
	    opacity: .5;
	}
	35% { opacity: 0 }
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	}
	15% {
	    opacity: .25;
	}
	25% {
	    opacity: .5;
	}
	35% { opacity: 0 }
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	}
	15% {
	    opacity: .25;
	}
	25% {
	    opacity: .5;
	}
	35% { opacity: 0 }
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	}
	15% {
	    opacity: .25;
	}
	25% {
	    opacity: .5;
	}
	35% { opacity: 0 }
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	}
	15% {
	    opacity: .25;
	}
	25% {
	    opacity: .5;
	}
	35% { opacity: 0 }
	40% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .landingSlide li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.test li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.test li div h3 { font-size: 50px }
}
